/* ==========================================================================
   Homepage Styles

   All stylings related to homepage


   ========================================================================== */
body {
  background: #f2f2f2;
}

.top_header--navigation .nav-pills>li a {
  color: #000;
}

.top_header--navigation .nav-pills>li a:hover {
  color: #138708;
}

.top_header--navigation .nav-pills>li.active>a,
.top_header--navigation .nav-pills>li.active>a:focus,
.top_header--navigation .nav-pills>li.active>a:hover {
  background: #000;
  color: #FFF;
}


/* ==========================================================================
  ABOUT THE CHEF SECTION
========================================================================== */

.top_header--body {
  background: #FFF;
  padding: 40px 20px;
}

.top_header--profile {
  width: 100%;
  margin-left: -200px;
  float: right;
}

.top_header--navigation {
  width: 200px;
  float: left;
}

.top_header--profile_content {
  margin-left: 220px;
}

.top_header--image {
  width: 100%;
  margin: 20px 0;
}

.top_header--title {
  background-color: #050505;
  color: #FFF;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}

.top_header--subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.top_header--description {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* ==========================================================================
  ACQUISITION SECTION
========================================================================== */

.acquisition_section--body {
  background: #FFF;
  padding: 40px 20px;
}

.acquisition_section--title {
  background-color: #050505;
  color: #FFF;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}

.acquisition_section--image_container {
  width: 100%;
  height: 100px;
  background: #FFF;
  border-bottom: 2px solid #138708;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.acquisition_section--image {
  top: 50%;
  position: absolute;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}


/* ==========================================================================
  FOOTER SECTION
========================================================================== */

.personal_section--title {
  color: #000;
  font-size: 1.5rem;
  line-height: 2.0rem;
  margin: 0px 10px 20px;
}

@media (min-width: 768px) {
  .personal_section--title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 20px;
  }
}

.personal_section--description {
  color: #000;
  margin: 10px;
}

@media (min-width: 768px) {
  .personal_section--description {
    margin: 10px 0;
  }
}

.personal_section--link {
  color: #000;
}

.personal_section--link:hover {

}

.social-sites {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

/*Footer section*/
.social_sites--list {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000;
  color: #FFFFFF;
  margin: 0 2.5px;
  display: inline-block;
  text-align: center;
  line-height: 2.3rem;
  vertical-align: middle;
  cursor: pointer;
}

.social_sites--link, .social_sites--link:hover {
  color: #FFFFFF;
}

.social_sites--list:hover {
  background: #ba5326;
}

.social_sites--icon::before {
  font-size: 1.1rem;
}

.personal_section--body {
  background: #FFF;
  padding: 40px 20px;
}

.personal_section--body .col-md-4 {
  margin-bottom: 40px;
}

@media (min-width: 920px) {
  .personal_section--body .col-md-4 {
    margin-bottom: 0;
  }
}


/* Map */

.personal_section--map_container {
  background-color: #f2f1ef;
  padding: 10px;
  width: 100%;
}

.personal_section--location {
  height: 280px;
}


/* Footer Navigation */

.personal_section--footer {
  margin: 60px 0;
  text-align: left;
  font-size: 1rem;
}

.footer_navigation--ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 0
}

.footer_navigation--list {
  display: block;
  margin: 10px 20px;
}

@media (min-width: 750px) {

  .personal_section--footer {
    text-align: center;
  }

  .footer_navigation--list {
    float: left;
    margin: 0px 10px;
  }
}

.footer_navigation--link {
  color: #050505;
  font-family:'Open Sans Regular', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

.footer_navigation--link:hover {
  color: #ba5326;
}
