/* ==========================================================================
   Homepage Styles

   All stylings related to homepage


   ========================================================================== */
body {
  background: #f2f2f2 url("../../img/avatar-background.png") no-repeat;
  background-position: 50% 50%;
}

.avatar-grill .container {
  max-width: 920px;
  width: 100%;
}

.top_header--navigation .nav-pills>li a {
  color: #000;
}

.top_header--navigation .nav-pills>li a:hover {
  color: #138708;
}

.top_header--navigation .nav-pills>li.active>a,
.top_header--navigation .nav-pills>li.active>a:focus,
.top_header--navigation .nav-pills>li.active>a:hover {
  background: #000;
  color: #FFF;
}

/* ==========================================================================
  HEADER IMAGE AND LOGO
========================================================================== */

.ag--header_section {
  position: relative;
  max-height: 500px;
}

.ag--logo_link {
  width: 200px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.ag--logo_link img {
  width: 100%;
  background-size: cover;
}


.ag--food_image {
  position: relative;
  height: auto;
  width: 100%;
  background-size: cover;
  z-index: -1;
}


/* ==========================================================================
  ABOUT THE CHEF SECTION
========================================================================== */

.main_background--section {
  position: relative;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+30,f2f2f2+100 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 30%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 30%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 30%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.main_background--section:before,
.main_background--section:after {
	content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.1);
  box-shadow:0 0 15px rgba(0,0,0,0.1);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
}

.main_background--section:after {
	right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

.top_header--body {
  padding: 40px 20px 0;
}

.top_header--profile {
  width: 100%;
  margin-left: -200px;
  float: right;
}

.top_header--navigation {
  width: 200px;
  float: left;
}

.top_header--profile_content {
  margin-left: 220px;
}

.top_header--image {
  width: 100%;
  margin: 20px 0;
}

.top_header--title {
  background-color: #050505;
  color: #FFF;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}

.top_header--subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.top_header--description {
  padding-top: 10px;
  padding-bottom: 20px;
}

.top_header--fork {
  width: 160px;
  height: auto;
  background-size: cover;
  margin: 20px auto;
  display: block;
}


/* ==========================================================================
  ACQUISITION SECTION
========================================================================== */

.acquisition_section--body {
  padding: 20px 20px 0;
}

.acquisition_section--title {
  background-color: #050505;
  color: #FFF;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}

.acquisition_section--subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.acquisition_section--description {
  background: #FFF;
  padding: 20px 10px;
  position: relative;
}

.acquisition_section--description:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

@media (min-width: 768px) {
  .acquisition_section--description {
    height: 300px;
  }
}

.acquisition_section--dropdown {
  margin-top: 20px;
  width: 100%;
}

.acquisition_section--dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
  position: relative;
}

.acquisition_section--dropdown .dropdown-toggle .caret {
  right: 10px;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%)
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
}

.acquisition_section--dropdown .dropdown-menu {
  width: 100%;
}

.acquisition_section--image_container {
  width: 100%;
  height: 100px;
  background: #FFF;
  border-bottom: 2px solid #138708;
  position: relative;
  overflow: hidden;
}

.acquisition_section--image {
  top: 50%;
  position: absolute;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}


/* ==========================================================================
  FOOTER SECTION
========================================================================== */

.personal_section {
  margin-top: 30px;
}

.personal_section--title {
  color: #000;
  font-size: 1.5rem;
  line-height: 2.0rem;
  margin: 0px 10px 20px;
}

@media (min-width: 768px) {
  .personal_section--title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 20px;
  }
}

.personal_section--description {
  color: #000;
  margin: 10px;
}

@media (min-width: 768px) {
  .personal_section--description {
    margin: 10px 0;
  }
}

.personal_section--link {
  color: #000;
}

.personal_section--link:hover {

}

.social-sites {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

/*Footer section*/
.social_sites--list {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000;
  color: #FFFFFF;
  margin: 0 2.5px;
  display: inline-block;
  text-align: center;
  line-height: 2.3rem;
  vertical-align: middle;
  cursor: pointer;
}

.social_sites--link, .social_sites--link:hover {
  color: #FFFFFF;
}

.social_sites--list:hover {
  background: #ba5326;
}

.social_sites--icon::before {
  font-size: 1.1rem;
}

.personal_section--body {
  background: #FFF;
  padding: 40px 20px;
}

.personal_section--body .col-md-4 {
  margin-bottom: 40px;
}

@media (min-width: 920px) {
  .personal_section--body .col-md-4 {
    margin-bottom: 0;
  }
}


/* Map */

.personal_section--map_container {
  background-color: #f2f1ef;
  padding: 10px;
  width: 100%;
}

.personal_section--location {
  height: 280px;
}


/* Footer Navigation */

.personal_section--footer {
  margin: 60px 0;
  text-align: left;
  font-size: 1rem;
}

.footer_navigation--ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 0
}

.footer_navigation--list {
  display: block;
  margin: 10px 20px;
}

@media (min-width: 750px) {

  .personal_section--footer {
    text-align: center;
  }

  .footer_navigation--list {
    float: left;
    margin: 0px 10px;
  }
}

.footer_navigation--link {
  color: #050505;
  font-family:'Open Sans Regular', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

.footer_navigation--link:hover {
  color: #ba5326;
}
